<main class="main-page">
  <div aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Cars</a>
      </li>
      <li class="breadcrumb-item  active"><a href="#" style="text-decoration: none; color: black; ">List Car</a></li>
      <li class="breadcrumb-item  active"><a href="#" style="text-decoration: none; color: black; ">Add New Car</a></li>
    </ol>
  </div>
  <h3>Add New Car</h3>
  <form method="post" action="/add">
    <div class="white-box">

      <div class="mb-3 row">
        <label for="nama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Avanza" name="nama">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">Sewa Per Hari</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" placeholder="Rp.0,-" name="price">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="size-car" class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-10">
          <select class="form-select form-select-md" name="sizeCar">
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="foto" class="col-sm-2 col-form-label">Foto</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="link foto" name="linkimg">
        </div>
      </div>
    </div>
    <div class="button-item">
      <a class="add-new" href="/">cancel</a>
      <button type="submit" class="add-new">save</button>
    </div>
  </form>
</main>